[submodule "Configuration"]
	path = Configuration
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "ArchimedesTests/expecta"]
	path = ArchimedesTests/expecta
	url = https://github.com/specta/expecta.git
[submodule "ArchimedesTests/specta"]
	path = ArchimedesTests/specta
	url = https://github.com/specta/specta.git
