[submodule "Configuration"]
	path = Configuration
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "ArchimedesTests/Quick"]
	path = ArchimedesTests/Quick
	url = https://github.com/Quick/Quick.git
[submodule "ArchimedesTests/Nimble"]
	path = ArchimedesTests/Nimble
	url = https://github.com/Quick/Nimble.git
